.card img {
  float: left;
  margin-right: 10px;
  /* сделать чтобы изображение не вылезало за края дива */
  max-height: 20%;
  max-width: 20%;
  border-radius: 6%;
}

border-style {
  border: 1px solid black;
  border-radius: 15px;
}

div.separator{
  width: 75%;
  height: 1px;
  background-color: gray;
  margin: auto;
}

div.menu {
  text-align: center;
  background-color: blanchedalmond;
  padding: 3px;

  border: 1px solid black;
  border-radius: 15px;
}

div.menu li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}



div.main {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.film_list {
  max-height: 400px;
  overflow-y: scroll;
}



div.film_block {
  width: 30%;
}
div.cards_list {
  width: 70%;
}


div.card {
  background-color: blanchedalmond;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  border: 1px solid black;
  border-radius: 15px;
  overflow: auto;
}

